/* Godot Teaser Styles */
#godot-canvas {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#godot-canvas:focus {
    outline: none;
}

#godot-status,
#godot-status-splash,
#godot-status-progress {
    position: absolute;
    left: 0;
    right: 0;
}

#godot-status,
#godot-status-splash {
    top: 0;
    bottom: 0;
}

#godot-status {
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#godot-status-splash {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

#godot-status-splash.show-image--false {
    display: none;
}

#godot-status-splash.fullsize--true {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#godot-status-splash.use-filter--false {
    image-rendering: pixelated;
}

#godot-status-progress,
#godot-status-notice {
    display: none;
}

#godot-status-progress {
    bottom: 10%;
    width: 50%;
    margin: 0 auto;
}

#godot-status-notice {
    background-color: #5b3943;
    border-radius: 0.5rem;
    border: 1px solid #9b3943;
    color: #e0e0e0;
    font-family: 'Noto Sans', 'Droid Sans', Arial, sans-serif;
    line-height: 1.3;
    margin: 0 2rem;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    z-index: 1;
}